@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=DM+Serif+Display&display=swap');
:root{
    --header-renk: #434ccc;
    --body-renk: #f2f2f2;
    --yazi-renk: #fff;
}
header{
    background-color: var(--header-renk);
}
.container{
    padding: 14px 16px;
}
.logoText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoText h4{
    color: var(--yazi-renk);
}
.mobileMenu{
    padding: 6px 6px;
}
.mobileMenu:hover{
    background-color: #6495ed;
}








/* desktop start */
@media(min-width: 1170px){
    .container{
        width: 1170px;
        margin: 0 auto;
    }
    .logoText h4{
        margin-right: auto;
    }
    .nav{
        display: flex;
        gap: 40px;
    }
    .nav a{
        color: var(--yazi-renk);
    }
    .signUp:hover{
        background-color: #6495ed;
    }
    .signUp{
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 14px 56px;
        border-radius: 10px;
        color: var(--yazi-renk);
        margin-left: 40px;
    }



    /* none bolumu */
    .mobileMenu{
        display: none;
    }
}




/* mobile start */
@media(max-width: 1169px){
    .nav{
        display: none;
    }
    .signUp{
        display: none;
    }
}