@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=DM+Serif+Display&display=swap');
:root{
    --header-renk: #434ccc;
    --section-yellow: #ffdd78;
    --body-renk: #f2f2f2;
    --yazi-renk: #fff;
    --yazi-altrenatif-renk: #000;
    --tags-yazi-renk: #434ccc;
    --button-arka-plan: #434ccc;
}
header{
    background-color: var(--header-renk);
}
.container{
    padding: 14px 16px;
}
.logoText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.logoText h4{
    color: var(--yazi-renk);
}
.mobileMenu{
    padding: 6px 6px;
}
.mobileMenu:hover{
    background-color: #6495ed;
}
.headerText{
    color: var(--yazi-renk);
    text-align: center;
    margin-bottom: 55px;
}
.headerText p{
    font-size: 20px;
    line-height: 32px;
}
/* main start */
main{
    background-color: var(--body-renk);
}
/* hero start */
.heroImg{
    background-color: #fff;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}
.heroImg img{
    width: 286px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.heroImgText{
    margin-left: 30px;
}
.bold{
    font-weight: 700;
    margin-bottom: 6px;
}
.heroImgText h3{
    margin-bottom: 20px;
    width: 14ch;
}
.text{
    width: 26ch;
    opacity: 0.5;
    padding-bottom: 16px;
}
.cizgi{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.information img{
    width: 32px;
    height: 32px;
    margin-top: 24px;
}
.cayla{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cayla span{
    margin-top: 30px;
    opacity: 0.5;
}
.cayla p{
    margin-top: 30px;
}
.learnMore{
    color: var(--yazi-altrenatif-renk);
    margin-left: 110px;
}
.dolorem{
    background-color: #fff;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}
.dolorem img{
    margin-left: 30px;
    margin-bottom: 30px;
}

.facilisi{
    background-color: #fff;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}
.facilisi img{
    margin-left: 30px;
    margin-bottom: 30px;
}
.buttonSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.buttonSection a{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    color: #434ccc;
}
.buttonSection .one{
    color: var(--yazi-renk);
    background-color: var(--button-arka-plan);
}
.left{
    padding-top: 14px;
    padding-left: 18px;
}
.right{
    padding-top: 14px;
    padding-left: 18px;
}
/* categories start */
.categoriesText input{
    margin-bottom: 24px;
    padding-left: 10px;
    width: 100%;
    height: 46px;
}
.categoriesText h4{
    margin-bottom: 40px;
}
.categoriesText p{
    opacity: 0.5;
}
.card a{
    color: var(--yazi-altrenatif-renk);
}
.card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.categoriesText{
    margin-bottom: 60px;
}
/* categories end */
/* post start */
.post img{
    width: 70px;
    height: 48px;
    margin-top: 6px;
}
.postUp{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 48px;
}
.postText p{
    opacity: 0.5;
}
.postCenter{
    display: flex;
    gap: 10px;
    margin-bottom: 48px;
}
.postDown{
    display: flex;
    gap: 10px;
    margin-bottom: 72px;
}
/* post end */
/* tags start */
.tags h4{
    margin-bottom: 40px;
}
.tagsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.tagsGrid a{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 6px;
    text-align: center;
    border-radius: 5px;
    color: var(--tags-yazi-renk);
}
/* tags end */
.sectionYellow{
    background-color: var(--section-yellow);
}
.mea{
    padding-top: 40px;
}
.mea h5{
    margin-bottom: 20px;
}
.mea h3{
    margin-bottom: 20px;
}
.meaItem input{
    display: block;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 46px;
}
.subscribe{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 12px 46px;
    background-color: var(--button-arka-plan);
    color: var(--yazi-renk);
}
/* section yellow end */
/* footer start */
.footerLogo{
    padding-top: 60px;
}
footer{
    background-color: var(--body-renk);
}
.logoFooter h4{
    margin-bottom: 20px;
}
.logoFooter p{
    margin-bottom: 20px;
}
.footerMedia{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.footerCard{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 30px;
}
.footerCard h4{
    margin-bottom: 20px;
}
.footerCard p{
    margin-bottom: 10px;
    opacity: 0.5;
}
.footerUp{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.footerText p{
    opacity: 0.5;
}
.footerUp img{
    margin-top: 6px;
    width: 70px;
    height: 48px;
}
.footerDown{
    display: flex;
    gap: 20px;
}
.footerDown img{
    margin-top: 6px;
    width: 70px;
    height: 48px;
}
/* desktop start */
@media(min-width: 1170px){
    /* header start */
    .container{
        width: 1170px;
        margin: 0 auto;
    }
    .logoText h4{
        font-size: 40px;
        line-height: 48px;
        margin-right: auto;
    }
    .nav{
        display: flex;
        gap: 40px;
    }
    .nav a{
        color: var(--yazi-renk);
    }
    .signUp:hover{
        background-color: #6495ed;
    }
    .signUp{
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 14px 56px;
        border-radius: 10px;
        color: var(--yazi-renk);
        margin-left: 40px;
    }
    /* header end */
    /* hero left star */
    /* flex classi desktopa ozel bir class mobile bolumunde calismayacak */
    .flex{
        display: flex;
        gap: 40px;
    }
    .hero{
        margin-top: 20px;
    }
    .headerText h2{
        font-size: 72px;
        line-height: 80px;
    }
    .heroImg{
        width: 834px;
    }
    .heroImgText h3{
        font-size: 56px;
        line-height: 64px;
        width: 28ch;
    }
    .text{
        width: 70ch;
    }
    .heroImg .firca{
        width: 770px;
    }
    .cayla{
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
    }
    .information img{
        margin-top: 26px;
        margin-right: 36px;
    }
    .learnMoreDesktop{
        margin-top: 28px;
        margin-right: auto;
        color: var(--yazi-altrenatif-renk);
    }
    .dolorem{
        width: 834px;
    }
    .sandalye{
        width: 770px;
    }
    .facilisi{
        width: 834px;
    }
    .facilisiImg{
        width: 770px;
    }
    .buttonSection{
        margin-right: 30px;
    }
    /* hero left end */
    /* categories start */
    .categoriesDesktop{
        margin-top: 10px;
    }
    /* categories end */
    /* sectionYellow start */
    .mea{
        display: flex;
    }
    .meaText h3{
        font-size: 56px;
        line-height: 64px;
    }
    .meaItem{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
    }
    .meaItem input{
        width: 370px;
        margin-top: 20px;
        height: 50px;
    }
    /* section yellow end */
    /* footer start */
    .footerItem{
        display: flex;
        justify-content: space-between;
    }
    .logoFooter p{
        width: 25ch;
    }
    .footerRight p{
        width: 24ch;
    }

    .footerEnd{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* none bolumu */
    .mobileMenu{
        display: none;
    }
    .learnMore{
        display: none;
    }
}




/* mobile start */
@media(max-width: 1169px){
    .nav{
        display: none;
    }
    .signUp{
        display: none;
    }
    .learnMoreDesktop{
        display: none;
    }
}